.container {
  align-items: center;
  background-color: #80ddf7;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.listMenu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.itemList {
  margin: 10px 10px;
}
